[Unit]
Description=BlackBox Sentinel Kiosk and Orchestrator
After=network.target graphical.target systemd-user-sessions.service
Wants=graphical.target

[Service]
Type=simple
WorkingDirectory=/home/sentinel/Blackbox_Sentinel
StandardInput=tty
StandardOutput=journal
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/sentinel/.Xauthority"
Environment=SENTINEL_ED25519_KEY=elKsXzfzH5qpZyxh25x9uCVy8VfRAc3BAqDiPc6B2Go=
ExecStart=/bin/bash /home/sentinel/Blackbox_Sentinel/tools/start_kiosk.sh
Restart=always
RestartSec=5
# Allow giving up after 50 crashes within 10 minutes to prevent boot loops if completely broken
StartLimitIntervalSec=600
StartLimitBurst=50

# Security Hardening for the daemon
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/sentinel/Blackbox_Sentinel/logs_and_data /home/sentinel/Blackbox_Sentinel/m3-ml-ledger /tmp /home/sentinel/.config/chromium /home/sentinel/.cache /home/sentinel/.pki /home/sentinel/.local /root/.cache

[Install]
WantedBy=graphical.target
